<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScrimpNet.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScrimpNet.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScrimpNet.Core.Properties.Settings>
            <setting name="SettingUser1" serializeAs="String">
                <value>user settings</value>
            </setting>
        </ScrimpNet.Core.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ScrimpNet.Core.Properties.Settings>
            <setting name="SettingApp1" serializeAs="String">
                <value>app scope</value>
            </setting>
        </ScrimpNet.Core.Properties.Settings>
    </applicationSettings>
</configuration>