<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
  </connectionStrings>
  <appSettings>
    <!-- ==================================
         Key: ImageTypes (required)
         
         Comma delimited list of files user
         can upload.  Change this list
         to allow more image 
    -->
    <add key="ImageTypes" value="*.doc, *.jpg"/>
    
    <!-- =================================
         Key: Retries (int)
         
         Number of milliseconds to wait
         before timing out.
         ================================
    -->
    <add key="Retries" value="yes"/>
  </appSettings>
  <appSettings>
    <add key="ImageTypes" value="*.doc,*.jpg"/>
    <add key="Retries" value="yes"/>
  </appSettings>
</configuration>